<%= form_for(@search_string) do |f| %>
  <% if @search_string.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search_string.errors.count, "error") %> prohibited this search_string from being saved:</h2>

      <ul>
      <% @search_string.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
