<%= render "shared/header" %>

<div id="notice"><%= notice %></div>
<div id="name" class="name"><%= @user.name %></div>
<div id="list_subscriptions" class="list_subscriptions">
  List subscriptions
  <ul>
  	<%= link_to 'Edit', user_list_subscriptions_path(@user) %>
  	<% @lists.each do |list| %>
  	  <% @list = list %>
  	  <li><%= render :template => "lists/show" %></li>
  	<% end %>
  </ul>
</div>
<div id="list-ownerships" class="list-ownerships">
  Lists you own
  <ul>
  	<% @owned_lists.each do |list| %>
  	  <% @list = list %>
  	  <li><%= render :template => "lists/show"%>
  	<% end %>
  </ul>
</div>
<div id="search-ownerships">
  Filters you own
  <ul>
  	<%= link_to 'New', new_search_path %>
    <% @owned_filters.each do |filter| %>
      <% @filter = filter %>
      <li><%= render :template => "filters/show" %></li>
    <% end %>
  </ul>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
